/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*to use multiple sector css*/
.fix_float{float:left;}
.fix_float1{float:right;}
.fixing_float{overflow: hidden;}
.slicknav_menu {display:none;}
a:hover{text-decoration: none;}
a:focus{text-decoration: none;outline-offset:0px;  outline: thin solid transparent;}

.form-control:focus {
  border-color: #ccc;
  outline: 0;
  -webkit-box-shadow: inset 0 0px 0px #CCC,0 0 0px rgba(102,175,233,.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
  box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}

/* end of useing multiple sector css*/
/*====starting====*/

.container>.navbar-collapse{
  margin-right: -15px;
  margin-left: -15px;
  }
  
body{
	font-family: "proxima-nova",sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "proxima-nova",sans-serif;
}
/* #####-----Beginning of header-----#####*/
.header_top{
	background:#2f373c;
}

.header_top ul {
	margin:0px;
}

.header_top ul li.lang_dropmenu {
position:relative;
}

.header_top ul li.lang_dropmenu ul {
	position:absolute;
	list-style:none;
	background:#2f373c;
	left:-1000000000000px;
	top:45px;
	z-index:1;
	padding:0px;
}
.header_top ul li.lang_dropmenu:hover ul{
left:0px;
}
.header_top ul li.lang_dropmenu ul li{
	border-bottom:1px solid #6D767C;
}
.header_top ul li.lang_dropmenu ul li:last-child{
	border-bottom:0px solid #6D767C;
}
.header_top ul li.lang_dropmenu ul li a{
	padding: 0px 15px;
}

.header_top ul li a{
	 font-size:13px;
	 line-height:30px;
	 color:#fff;
	 text-transform:uppercase;
}
.header_top ul li a img.call_btn{
	margin-right:12px;
	margin-left:25px;
}
.header_top ul li a img.lang{
	margin-left:7px;
}
.header_top ul li a span{
	 font-size:12px;
	 line-height:30px;
	 color:#889399;
	 margin-left:10px;
}
/* #####-----End of header top-----#####*/

.header_bottom_area{
background-color: #ffffff;
  border-bottom: 2px solid rgb(237, 237, 237);
  margin-bottom: 0px;
  border-radius: 0px;
  border-top: none;
}
.header_bottom_area .container a.main_logo{
	margin-left:0px;
	padding:5px 0px 0px 0px;
}
.header_bottom_area .container a.main_logo img{
	width:125px;
	height:50px;
}
.header_bottom_area ul li.travel_com {
margin-right:60px;
}

.header_bottom_area ul li a{
	  font-size: 13px;
  font-weight: 600;
  line-height: 45px; 
  color: #889399;
  text-transform: uppercase;
  padding: 15px 18px 0px;
	
}

.header_bottom_area ul li a:hover{
	background-color:#ffffff;
	color:#3eadba;

}
.header_bottom_area ul li a.only_img{
	  padding: 10px 5px 0px;;
}
.header_bottom_area ul li a.avator{
	  padding: 10px 20px 0px 0px;
}
.header_bottom_area ul li a.only_img img{
	margin-left: 0px;
	  border-radius: 17px;
	width: 34px;
	height: 34px; 
}
.header_bottom_area ul li a img{
	margin-left: 14px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}
/* #####-----End of header-----#####*/
/* #####-----BEginning of of Bannr area-----#####*/

.banner_area{
	  background-image: url(./img/banner_bg.png);
	  background-size: cover;
	  background-position: center;
	  background-repeat: no-repeat;
	position: relative;
	height:560px;
}
.banner_body{
	  
}
.banner_text{
	text-align: center;
	  margin-top: 60px;
	  margin-bottom:30px;
}
.btn-hiw{
color: #FFF !important;
background: rgba(255, 255, 255, 0.5) !important;
margin-top:20px;
height: 40px !important;
 display:none;
}
.banner_text h1{
	font-size:50px;
	font-weight:bold;
	color:#fff;
	text-align:center;
	text-transform:uppercase;
	  margin: 0px 0px 15px 0px;

}
.banner_text p.h_text{
	font-size:30px;
	font-weight:300;
	color:#fff;
	text-align:center;
	  margin: 0px;
}
/*change*/
.new_select_city{
	position: absolute;
bottom: 10%;
width: 100%;
}
.new_select_city .select_city{
	border-radius: 2px;
	margin-bottom:80px;
}
.nwi{
width: 75%;
margin:0 auto;
}
.select_tab{
border-bottom: medium none;
margin: 0px auto 0px 30%;
width: 50%;
display: inline-block;
}
.select_tab > li{
margin-right:15px;	
}
.select_tab > li >.search_m_packages{
vertical-align: middle;
padding-top: 20px;
}
.select_tab>li>a  {
    line-height: 1.42857;
    margin-right: 0px;
	font-size: 16px;
	color:#fff;
font-weight: 400;
text-transform:uppercase;
  border:none;
   border-radius: 4px ;
	margin-bottom:15px;	
	padding: 5px 15px;
}
.select_tab>li:last-child>a  {


}
.select_tab > li:hover {
  border:none;
}
.select_tab > li > a:hover, .select_tab>li>a:focus {
  border:none;

}
.select_tab>li.active>a, .select_tab>li.active>a:focus, .select_tab>li.active>a:hover{
	  background: #3eadba;
		color:#fff;
	  border:none;
	  position:relative;  
}
.select_tab>li.active>a:after{
position: absolute;
content: "";
height: 0px;
width: 0px;
border-width: 8px;
border-style: solid;
border-color: #3eadba transparent transparent;
left: 50%;
top: 100%;
margin-left: -8px;
}

.new_select_city .select_city select{
	  -webkit-appearance: none;
	    -moz-appearance: none;
		 appearance: none;
		 	height: 45px;
			border:none;
			background-color: #fff;
			color: #889399;
			font-size: 15px;
			-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
			-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
				box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
				background-image:url(./img/go_down_arrow.png);
		background-repeat:no-repeat;
		background-position: 98% 55%;
		position:relative;
		font-weight:400;
}
.new_select_city .select_city select.tour_seleect_32{
	  -webkit-appearance: none;
	    -moz-appearance: none;
		 appearance: none;
		 	height:45px;
			border:none;
			background-color: #fff;
			color: #889399;
			font-size: 15px;
			-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
			-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
				box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
								background-image:none;
		position:relative;
		font-weight:400;
				width:195px;
				padding:6px 0px ;
}				
.new_select_city .select_city input.check_in_date_112{
		 	height:45px;
			border:none;
			background-color: #fff;
			color: #889399;
			font-size: 15px;
			-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
			-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
				box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
		position:relative;
		font-weight:400;
		width:195px;
		padding:6px 0px ;
}
.addon_1432{
boreder-left: 1px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
border-right: 0px solid #E0E0E0;
border-top: 1px solid #E0E0E0;
background:#fff;
}
.banner_body .select_city span{
	  border:none;
	  background-color: #f0f0f0;
	  color:#8F8F8F
}
.btn-5{
	   background-color: #3eadba;
	    font-size:16px;
	   color:#fff;
	   font-weight:600;
	   cursor:pointer;
	   text-transform:uppercase;
	   padding: 0px 35px;
	   height:45px;
	   	border:none;
}
.new_select_city .select_city span.select_btn{
	   background-color: #3eadba;
	    font-size:16px;
	   color:#fff;
	   font-weight:600;
	   cursor:pointer;
	   text-transform:uppercase;
	   padding: 0px 35px;
	   border:none;
}

.banner_body p{
	font-size: 15px;
color: #FFF;
line-height: 45px;
text-align: center;
margin-top: 0px;
margin-bottom: 90px;
font-weight:400;
}
.banner_body p a{
	font-size:15px;
	color:#fff;
	text-decoration:underline;
	font-weight:600;
}
.banner_body a img.fb_connect{
	  margin-left: 36.5%;
}
.bottom_arrow{
text-align: center;
width: 100%;
display: block;
}
/* #####-----End of of Bannr area-----#####*/
/* #####-----Beginning of of trip area
.trip_area{
	background:#f1f5f5;
	padding:20px 0px 50px;
}
.thumb{
	width:193px;
	background:#fff;
	cursor:pointer;
	border:1px solid transparent;
	height: 225px;
}
.thumb:hover{
	border:1px solid #3eadba;
}

.thumb .caption{
	text-align:center;

}

.romantic_trip .caption span{
	background-image:url(./img/romantic_logo.png);
	background-repeat:no-repeat;
	background-position: 0px -27px;
	margin: 10px 0px 0px;
	width: 45px;
	height: 35px;
	display: inline-block;
}
.romantic_trip:hover .caption span{
	background-position: 0px 14px;

}
.adventure_trip .caption span{
	background-image:url(./img/adventure_logo.png);
	background-repeat:no-repeat;
	background-position: 0px -38px;
	margin: 10px 0px 0px;
	width: 45px;
	height: 35px;
	display: inline-block;
}
.adventure_trip:hover .caption span{
	background-position: 0px 9px;

}
.family_trip .caption span{
	background-image:url(./img/family_logo.png);
	background-repeat:no-repeat;
	background-position: 0px -40px;
	margin: 10px 0px 0px;
	width: 45px;
	height: 35px;
	display: inline-block;
}
.family_trip:hover .caption span{
	background-position: 0px 5px;
}
.honeymoon_trip .caption span{
	background-image:url(./img/honymoon_logo.png);
	background-repeat:no-repeat;
	background-position: 0px -35px;
	margin: 10px 0px 0px;
	width: 45px;
	height: 35px;
	display: inline-block;
}
.honeymoon_trip:hover .caption span{
	background-position: 0px 11px;

}
.thumb img.trip_img{
	padding:10px;
	width:190px;
	height:125px;
}
.thumb .caption h3{
	padding:5px;
	font-size:15px;
	color:#2f373c;
	margin:0px 0px 9px;
	font-weight:600;
}
.thumb:hover .caption h3{

	color:#3eadba;

}

.owl-carousel {
    padding-left:20px;
}
End of of trip area-----#####*/

/* #####-----Beginning of of offer area-----#####*/
.offer_area{
	background:#fff;
}
.offer_text{
	text-align:center;
	margin-top:50px;
	margin-bottom:35px
}
.offer_text h2{
	font-size:30px;
	font-weight:600;
	color:#2f373c;
	text-transform:uppercase;
	margin:13px 0px 5px;
	padding:0px;
}
.offer_text p{
	font-size:20px;
	font-weight:300;
	color:#2f373c;
	margin:0px;
	padding:0px

}
.offer_image{
	width: 252px;
	height:290px;
	background:#fff;
	
	margin-bottom:45px;
	cursor:pointer;
}
.offer_image:hover{

}
.offer_image img{
	width: 100%;
height: 210px;
border-radius:  4px 4px 0px 0px;
}

.offer_image .caption{
  border-bottom: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  padding-bottom: 15px;
  border-radius: 0px 0px 4px 4px;
  }
.offer_image h3, .tour_offer_image h3{
font-size: 18px;
font-weight: bold;
  color: #889399;
  padding: 10px 0px 0px 5px;
margin: 0px 0px 10px 0px;
}
.offer_image p, .country_des p{
font-size: 14px;
font-weight: normal;
color: #6F797F;
padding: 0px 5px;
margin:5px 0px 5px 0px;
}

.offer_image span, .tour_offer_image span{
font-size: 12px;
font-weight: normal;
color: #6F797F;
padding: 0px 0px 0px 5px;
}
.offer_image span.new_offer32, .tour_offer_image span.new_offer32{
font-size: 16px;
font-weight: normal;
color: #ff5746;
font-weight:600;
padding: 0px 5px;
}

.offer_image a.view_002, .tour_offer_image a.view_002{
font-size: 14px;
font-weight: 400;
color:#ff5746;
cursor:pointer;
padding-right:15px;

}

.offer_image a.view_002 i{
	font-size:16px;
	padding-left:5px;
}

.load_area{
	text-align:center;
}
a.load_btn{
  width: 150px;
  height: 45px;
  border: 1px solid #d0d9de;
  text-align: center;
  vertical-align: middle;
  font-size: 15px;
  text-transform: uppercase;
  color: #3eadba;
  border-radius: 29px;
  padding: 11px 0px;
  margin-bottom:40px;
}
a.load_btn:hover, a.load_btn:focus{
  color: #3eadba;
}
.btn:focus {
  outline: 0px  thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  }
  /* #####-----End of of offer area-----#####*/
  /* #####-----Beginning of of destination area-----#####*/
  
.destinatios_area{
	background:#f1f5f5;
}
 .destination_list{
	text-align:center;
	margin:35px 0px 45px;
} 

.destination_list ul{
	list-style:none;
display: inline-block;
padding: 0px;
}
.destination_list ul li{
	display:inline-block;

}

.destination_list ul li a{
    line-height: 1.42857;
    margin-right: 10px;
	font-size: 16px;
	color:#2F373C;
font-weight: 400;
text-transform:uppercase;
  border:none;
   border-radius: 4px ;
	margin-bottom:15px;	
	padding: 15px 15px;
	background: #EAEAEA ;

}
.destination_list ul li.active a{
	  background: #3eadba;
		color:#fff;
	  border:none;
	  position:relative;  

}
.destination_list ul li.active a:after{
	position: absolute;
content: "";
height: 0px;
width: 0px;
border-width: 8px;
border-style: solid;
border-color: #3eadba transparent transparent;
left: 50%;
top: 100%;
margin-left: -8px;
}
.destination_img{
	position:relative;
	background:#fff;
	border:1px solid transparent;
	width: 270px;
}
.destination_img:hover{

	border:1px solid  #3eadba;
}
.destination_img img{
	  padding: 10px 12px 10px 10px;
	  width: 270px;
  height: 216px;
} 
.destination_img .caption{
	position: absolute;
  bottom: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  left: 20px;
  z-index:1;
}
.destination_img:after {
  position: absolute;
  bottom: 10px;
  left: 10px;
  content: "";
  background-image: linear-gradient(to top,rgba(0, 0, 0,.75),transparent );
  background-image: -moz-linear-gradient(to top,rgba(0, 0, 0,.75),transparent );
  background-image: -webkit-linear-gradient(to top,rgba(0, 0, 0,.75),transparent );
    width: 93%;
  height: 40%;
}
  /* #####-----End of of destination area-----#####*/
  /* #####-----Beginning of of Community area and also change-----#####*/
  
.community_area{

}
.community_text{
	text-align:center;
	margin-top:50px;
	margin-bottom:35px
}
.community_text h2{
	font-size:30px;
	font-weight:600;
	color: #2F373C;
	text-transform:uppercase;
	margin:13px 0px 5px;
	padding:0px;
}
.community_text p{
	font-size:20px;
	font-weight:300;
	color: #2F373C;
	margin:0px;
	padding:0px;

}


/*.community_images{
	position:relative;
	width:270px;
	cursor:pointer;
}
.community_images .community_img{
	width:270px;
	height:345px;
}

.community_images .caption h3{
	font-size:25px;
	color:#fff;
	margin:0px;
}

.community_images .caption p{
	font-size:15px;
	color:#fff;
	margin:15px 0px;
}
.community_images .caption .members_img img, .community_images .caption .members_img span{
background: #3EADBA none repeat scroll 0% 0%;
border-radius: 50%;
margin-right: 5px;
margin-bottom: 3px;

}
.community_images .caption .members_img img{
width: 40px;
height: 40px;
}
 .community_images .caption .members_img span{
  font-size: 15px;
  line-height: 50px;
  padding: 7px 2px 7px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0px;
  margin-right: 0px;
}
 .community_images .caption .members_img span.hover_view{
    padding: 20px 28px;
  background: #2f373c;
  text-transform: uppercase;
  position: absolute;
  bottom: 140px;
  left: 72px;
    display: none;

}
.community_images .caption{
	position: absolute;
  bottom: 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  left: 15px;
  z-index:1
}
.community_images:after {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
 background-image:linear-gradient(to top,rgba(0, 0, 0,1),transparent),  linear-gradient(45deg, rgba(255, 255, 255, 0.06) 66%, transparent 50%);
    background-image: -moz-linear-gradient(to top,rgba(0, 0, 0,1),transparent), -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.06) 66%, transparent 50%);
	  background-image: -webkit-linear-gradient(to top,rgba(0, 0, 0,1),transparent), -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.06) 66%, transparent 50%);

    width: 100%;
  height: 40%;
}
.community_images:hover:after{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
 background-image:linear-gradient(37deg, rgba(255, 255, 255, .08) 70%, rgba(231, 126, 126, 0) 19%);
    background-image:-moz-linear-gradient(37deg, rgba(255, 255, 255, .08) 70%, rgba(231, 126, 126, 0) 19%);
	  background-image: -webkit-linear-gradient(37deg, rgba(255, 255, 255, .08) 70%, rgba(231, 126, 126, 0) 19%);
    width: 100%;
  height: 50%;
}
.community_images:hover:before{
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
 background-image:linear-gradient(to top,rgba(57, 196, 212, .8),rgba(57, 196, 212, .8));
    background-image:-moz-linear-gradient(to top,rgba(57, 196, 212, .8),rgba(57, 196, 212, .8));
	  background-image: -webkit-linear-gradient(to top,rgba(57, 196, 212, .8),rgba(57, 196, 212, .8));

    width: 100%;
  height: 100%;
}
.community_images:hover .caption .members_img span.hover_view{
  display:inline;
}
.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 0px;
  padding: 0px 5px 25px;
	font-size: 60px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: rgba(134, 151, 145, 0);
  filter: Alpha(Opacity=50);
  opacity: .22;
}*/
.travellers_story img.trv_story1, .travellers_story img.trv_story2 {
	width:100%;
	height:200px;
}
.travellers_body h2, .vromon_body h2, .press_area h2, .payment_area h2{
	font-size:25px;
	font-weight:300;
	color:#2f373c;
	position:relative;
	text-align:center;
	margin:60px 0px 70px;
	text-transform:capitalize;
}
.travellers_body h2:after, .vromon_body h2:after, .press_area h2:after, .payment_area h2:after{
	position: absolute;
  content: "";
  width: 42%;
  height: 1px;
  background: #d0d9de;
  bottom: 6px;
  right: 0px;
}
.travellers_body h2:before, .vromon_body h2:before, .press_area h2:before, .payment_area h2:before {
  position: absolute;
  content: "";
  width: 42%;
  height: 1px;
  background: #d0d9de;
  bottom: 6px;
  left: 0px;
}
.travellers_story h3{
	font-size:25px;
	font-weight:400;
	color:#2f373c;
	 margin: 20px 0px;
}
.travellers_story p.post{
	font-size:13px;
	font-weight:400;
	color:#889399;
	font-style:italic;
	  margin:0px;
	  padding: 5px 0px;
}
.travellers_story p.post span{
	font-size:13px;
	font-weight:400;
	color:#3eadba;
	font-style:normal;
	text-transform: capitalize;
}
.travellers_story p{
	font-size:14px;
	font-weight:400;
	color:#889399;
	  margin-top:20px;
}
.travellers_story .caption{
	padding: 0px 35px 0px 0px;
}
.help{
	background:#7ed382;
}
.expert{
	background:#ff944c;
}
.fb_news{
	background:#4466ad;
}

.help h4, .expert h4, .fb_news h4{
	font-size:14px;
	font-weight:600;
	color:#fff;
	margin-top:20px;
}
.help p, .expert p, .fb_news p{
	font-size:14px;
	font-weight:normal;
	color:#fff;
	line-height:21px;
}
.help img, .expert img, .fb_news img{
	padding:33px 20px;
}

.media-body{
	padding-right:45px;
}
  /* #####-----End of of Community area-----#####*/
  /* #####-----beginning of of travellers area
  
.travelers_area{
	background:#fff;
	margin-bottom: 50px;
}

.travellers_body h2, .vromon_body h2, .press_area h2, .payment_area h2{
	font-size:25px;
	font-weight:300;
	color:#2f373c;
	position:relative;
	text-align:center;
	margin:60px 0px 70px;
	text-transform:capitalize;
}
.travellers_body h2:after, .vromon_body h2:after, .press_area h2:after, .payment_area h2:after{
	position: absolute;
  content: "";
  width: 42%;
  height: 1px;
  background: #d0d9de;
  bottom: 6px;
  right: 0px;
}
.travellers_body h2:before, .vromon_body h2:before, .press_area h2:before, .payment_area h2:before {
  position: absolute;
  content: "";
  width: 42%;
  height: 1px;
  background: #d0d9de;
  bottom: 6px;
  left: 0px;
}
.travellers_story h3{
	font-size:25px;
	font-weight:400;
	color:#2f373c;
	 margin: 20px 0px;
}
.travellers_story p.post{
	font-size:13px;
	font-weight:400;
	color:#889399;
	font-style:italic;
	  margin:0px;
	  padding: 5px 0px;
}
.travellers_story p.post span{
	font-size:13px;
	font-weight:400;
	color:#3eadba;
	font-style:normal;
	text-transform: capitalize;
}
.travellers_story p{
	font-size:14px;
	font-weight:400;
	color:#889399;
	  margin-top:20px;
}
.travellers_story img.trv_story1{
	width:270px;
	height:276px;
}
.travellers_story img.trv_story2{
	width:270px;
	height:216px;
}
.travellers_story .caption{
	padding: 0px 35px 0px 0px;
}

.help{
	background:#7ed382;
}
.expert{
	background:#ff944c;
}
.fb_news{
	background:#4466ad;
}

.help h4, .expert h4, .fb_news h4{
	font-size:14px;
	font-weight:600;
	color:#fff;
	margin-top:20px;
}
.help p, .expert p, .fb_news p{
	font-size:14px;
	font-weight:normal;
	color:#fff;
	line-height:21px;
}
.help img, .expert img, .fb_news img{
	padding:33px 20px;
}

.media-body{
	padding-right:45px;
}
end  of of travellers area-----#####*/
  /* #####-----beginning of of vromon area-----#####*/
  .w_vromomn_area, .vromon_area{
	background:#f1f5f5;
  }

  .vromon_details span{
	font-size:15px;
	font-weight:bold;
	color:#2f373c;
	padding-left:15px;
  }
   .vromon_details p{
	font-size:14px;
	font-weight:normal;
	color: #6f797f;
	padding-right: 25px;
  }
   /* #####-----end of of why vromon area-----#####*/
    /* #####-----beginning of of vromon area-----#####*/
	  .vromon_area{
	padding-bottom:30px;
  }
	.vromon_body h2{

	margin:50px 0px 20px;
}
.vromon_body h2:after{
  width: 44%;
}
.vromon_body h2:before{
  width: 44%;
}
.vromon_body p{
	text-align:center;
	color:#4f565c;
	font-size:14px;
	font-weight:normal;
	line-height:21px;
	
}
.facebook_like{
	margin-left: 42%;
	 margin-top: 50px; 
  margin-bottom: 25px; 
}
.facebook_like h4{
font-size:14px;
text-transform:capitalize;
color:#4f565c;

}
 /* #####-----end of of vromon area-----#####*/
  /* #####-----beginning of of press area
  .press_area{
	background:#fff;
	  margin-bottom: 55px;
  }
  

.press_area img{
position:relative;

}
.press_area a{
width:219px;
height:87px;
border:1px solid #d0d9de;
display:inline-block;
margin-right: 11px;
position:relative;
 float:left;
}
.press_area a:hover{

border:1px solid #3eadba;

}
.press_area a.p_alo{
background-image:url(./img/prothomalo.png);
background-repeat:no-repeat;
background-position: 24px 22px;
}
.press_area a.p_alo:hover{

background-position: 24px -78px;
}

.press_area a.bd_news{
background-image:url(./img/bdnews.png);
background-repeat:no-repeat;
background-position: 24px 33px;
}
.press_area a.bd_news:hover{

background-position: 24px -59px;
}
.press_area a.prio_tech{
background-image:url(./img/ptoiotech.png);
background-repeat:no-repeat;
background-position: 26px 9px;
}
.press_area a.prio_tech:hover{

background-position: 26px -113px;
}
.press_area a.d_star{
background-image:url(./img/dailystar.png);
background-repeat:no-repeat;
background-position: 24px 22px;
}
.press_area a.d_star:hover{

background-position: 24px -78px;
}
.press_area a.bangla_news{
background-image:url(./img/banlanews.png);
background-repeat:no-repeat;
background-position: 27px 18px;
}
.press_area a.bangla_news:hover{
background-position: 27px -127px;
}
end of of press area-----#####*/
    /* #####-----beginning of of payment area
.payment_area{
	background:#f1f5f5;
}
	.payment_area h2{

	margin:50px 0px 50px;
}
.payment_area h2:after{
  width: 45%;
}
.payment_area h2:before{
  width: 45%;
}
.payment_link{
	padding-bottom: 40px;
	border-bottom: 1px solid #d0d9de;
}
.payment_link img{
	margin-right: 30px;
}
.payment_link img.ssl{
	float: right;
margin-right: 5px;
margin-top: 13px;
	
}

.payment_area ul.footer_list{
	margin-left:0px;
}


.payment_area ul.footer_list{}



.payment_area ul.footer_list li a{
	font-size:13px;
	font-weight:600;
	line-height:45px;
	text-transform:uppercase;
	color:#889399;
	padding-right:10px;
	padding-left:0px;

}
.payment_area ul.footer_list li:last-child{
padding-right:0px;
padding-left:0px;
}
.payment_area ul.footer_list li:last-child a{
padding-right:0px;

}

.payment_area ul.footer_social_icon{
		margin-left: 10px;
		  margin-top: 25px;
}
.payment_area ul.footer_social_icon li{
padding-right: 0px;
padding-left: 0px;
}
.payment_area ul.footer_social_icon li a{
padding-right:10px;
}
.payment_area ul.footer_social_icon li:last-child a{
padding-right: 0px;

}
end of of payment area-----#####*/
	/* #####-----beginning of of footer area-----#####*/
.footer_area{
	background:#25282b;

}
.footer_area p{
	font-size:14px;
	color:#889399;
	text-transform:capitalize;
	margin:20px 0px;
}
.footer_area p span{
	vertical-align: middle;
}

.footer_area h4{
	font-size:20px;
	font-weight:600;
	color:#767c81;
	margin-top:35px;
	
}

.footer_area ul li a{
	font-size:15px;
	color:#767c81;
	line-height:35px;
	text-transform:uppercase;
}
.footer_logo{
	margin-top:50px;
}
.footer_bottom{
background:#52534C;
}
.footer_bottom p{
text-align:center;
margin: 10px;
font-size:14px;
	color:#889399;
	text-transform:capitalize;
}
	/* #####-----end of of footer area-----#####*/
	
	
	/* #####-----Beginning of Customize Page-----#####*/
	
.tour_details_area{
	margin-top:50px;
	margin-bottom:50px;
}
.category_area{
	margin-top:30px;
	margin-bottom:50px;
}
.category{
	position:relative;

	margin: 0px auto 20px;
	width:83%;
}
.cat_tab_content{
	border-top:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid transparent;
	border-left:1px solid transparent;
	padding: 30px 15px 15px 15px;
}
.attractions_body h2{
	color:#2F373C;
	font-size:24px;
	font-weight: 600;
	margin-bottom:10px;
	text-transform:capitalize;
}
.attractions_body h3{
font-size: 16px;
font-weight: 300;
color: #889399;
text-transform:capitalize;
margin:0px 0px 10px;

}
.attractions_body p{
font-size: 16px;
font-weight: 300;
color: #2F373C;
}
.fees_area h2.overview{
text-align:left;
margin: 0px;
}
 .go_map{ 
 background-image: url("https://a3.r9cdn.net/res/images/hotels/genericmap_200x65.png?v=fc86068313da94ee48ace033bab81828dda995b5");
width: 100%;
height: 50px;
background-repeat: no-repeat;
background-position: center;
background-size: 100%;
position:relative;
}
.go_map h3{ 
 text-align: center;
padding-top: 19px !important;
font-weight: 600;
font-size: 16px;
color: #2F373C;
text-transform: uppercase;
margin: 0px 0px 15px;
}
.side_label1 ul{
	margin:0px;
}
.room_float{
float:none !important;
}

.side_label1 [class^="icon-004"], .side_label1 [class^="icon-085"], .side_label1 [class^="icon-111"],.side_label1 [class^="icon-227"], .side_label1 [class^="icon-059"], .side_label1 [class^="icon-047"] {
    height: 20px;
    width: 20px;
    float: none;
    fill: currentcolor;
    margin-right: 10px;
	vertical-align:middle;
}
.destination_side h3, .budget_side h3, .season_side h3, .packkage_side h3, .theme_side h3, .duration_side h3, .price_side h3, .transport_side h3,  .cataegory_sorting h3, .showing h3{
font-size: 16px;
font-weight: 300;
color: #2F373C;
text-transform:uppercase;
margin:0px 0px 15px;
padding:10px 0px 0px;

}
.showing h3{padding:0px 0px 0px;}

.cataegory_sorting h3{
font-size: 18px;
	text-align:center;
	font-weight: 600;
	color: #889399;
}
.showing p{
color: #6F797F;
  border: 1px solid #E0E0E0;
  display: inline-block;
  padding: 5px;
  margin: 0px;
}

.showing  p span.one_1{
text-transform:uppercase;
color: #6F797F;
}


.cataegory_featured{
	text-align:center;
	margin-bottom: 30px;
}
.cataegory_featured ul{
border-bottom:1px solid #D0D9DE;
}
.cataegory_featured ul li{
  padding: 0px 0px 5px 0px;
}
.cataegory_featured ul li a{
font-size: 14px;
font-weight: 300;
color: #2F373C;
padding: 0px 10px 6px 10px;
  cursor: pointer;
}

.cataegory_featured ul li a.active_101{
border-bottom:3px solid #3eadba;
}

hr{
	margin:10px 0px;
	background:#D0D9DE;
	border:0px solid transparent;
	clear: both;
}
.budget_btn{
border: 1px solid #3EADBA;
text-align: center;
font-size: 16px;
color:#3EADBA;
background:#FFF;
text-transform:uppercase;
font-weight: 600;
margin: 0px 5px;

}
.budget_btn_act{
color:#FFF;
background:#3EADBA;
}
.budget_btn_group{
	text-align:center;
}
.side_label1, .theme_side ul li a, .transport_side ul li a{
font-size: 14px;
font-weight: 300 !important;
color: #6F797F;
}
.duration_side .side_label1, .price_side .side_label1{
font-size: 14px;
}
.ui-accordion .ui-accordion-header{
font-size: 16px;
font-weight: 300;
color: #2F373C;
text-transform:uppercase;
}
.transport_img{
	font-size:24px;
	color:#3EADBA;
}
.divider{
	height:1px;
	background:#D0D9DE;
	margin:15px 0px;
	clear:both;
}
/*new style*/

.category_banner_area{
	  background-image: url(./img/banner_bg.png);
 /* background-size: 100% 100%;*/
	  background-position:10% 20%;
	  background-repeat: no-repeat;
	  height:180px;
	  width:100%;
}

.category_banner_body h1{
	font-size:50px;
	font-weight:bold;
	color:#fff;
	text-align:left;
	text-transform:uppercase;
	  margin: 65px 0px;
}
.lna{
background:#fff;

}

.cat_tab{
	  margin-top:0px;
	  border-bottom:none
}
.cat_tab > li{
margin-right:15px;	
}
.cat_tab>li>a  {
    line-height: 1.42857;
    margin-right: 0px;
	font-size: 16px;
	color:#2F373C;
font-weight: 400;
text-transform:uppercase;
  border:none;
   border-radius: 4px ;
   background: #EAEAEA ;
	margin-bottom:10px;	
	
}
.cat_tab>li:last-child>a  {


}
.cat_tab > li:hover {
  border:none;
}
.cat_tab > li > a:hover, .cat_tab>li>a:focus {
  border:none;
background: #EAEAEA ;
}
.cat_tab>li.active>a, .cat_tab>li.active>a:focus, .cat_tab>li.active>a:hover{
	  background: #3eadba;
		color:#fff;
	  border:none;
	  position:relative;  
}
.cat_tab>li.active>a:after{
position: absolute;
content: "";
height: 0px;
width: 0px;
border-width: 8px;
border-style: solid;
border-color: #3eadba transparent transparent;
left: 50%;
top: 100%;
margin-left: -8px;
}
.cat_tab>li.active:first-child>a, .cat_tab>li.active:first-child>a, .cat_tab>li.active:first-child>a{

}
.cat_tab>li.active:last-child>a, .cat_tab>li.active:last-child>a, .cat_tab>li.active:last-child>a{
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background:#ff5746;
  font-weight: normal;
  color: #555555;
  border-radius: 20px;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #999999;
  background:#ff5746;
  font-weight: normal;
  color: #212121;
}

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #ff5746;
  color: #222222;
  font-weight: bold;
}
/*new style
.all_buttn{
border: 1px solid #3EADBA;
text-align: center;
border-radius: 16px;
margin-right: 10px;
font-size: 16px;
padding: 0px 10px;
color:#3EADBA;
background:#FFF;
}
.colapse{

border: 1px solid #D0D9DE;
padding: 0px 0px;
text-align: center;
width: 200px;
left: 50%;
position: relative;
margin-top: 0px;
margin-left: -100px;
font-size:24px;
font-weight:bold;
color:#3EADBA;
cursor:pointer;
}
.colapse span{
width: 198px;
left: 0%;
position: absolute;
top: -2px;
height: 2px;
background: #fff;

}
.dealarship {
	margin-right:20px;
	color: #889399;
}
.dealarship span{
	color:#3EADBA;
	font-weight:600;
}


.recommendation{
	border:1px solid #D0D9DE;
	padding:0px 10px;
	margin-bottom: 20px;
}
.recommendation ul{
margin:10px 0px;
}
.recommendation ul li a{
	font-size: 16px;
font-weight: 600;
line-height: 45px;
text-transform: uppercase;
color: #889399;
padding-right: 10px;
padding-left: 0px;
}
.recommendation ul li:last-child a{
padding-right: 0px;

}
.recommendation ul li input{
	font-size: 16px;
font-weight: 600;
color: #889399;
padding-right: 0px;
padding-left: 2px;
width:50px;
}
.recommendation ul li a span.page{
border: 2px solid #D0D9DE;
padding-right: 10px;
padding-left: 10px;

}
.price_submit{
border: 1px solid #3EADBA;
text-align: center;
margin-left: 15px;
font-size: 16px;
padding: 0px 10px;
color:#3EADBA;
background:#FFF;
vertical-align:top
}*/
/*change*/
.country_des{
	border:1px solid #D0D9DE;
	padding-bottom: 30px;
	margin-bottom: 20px;
}
.cat_image{
	margin-bottom: 30px;
	  
}

.cat_image img, .country_des img{
	width:100%;	
}
.cat_image img{
	width:100%;	
	height:250px;
	border-radius: 4px 4px 0px 0px;
}
.cat_image .caption32423{
	border-bottom:1px solid #E0E0E0;
	border-left:1px solid #E0E0E0;
	border-right:1px solid #E0E0E0;
	padding-bottom: 15px;
	border-radius: 0px 0px 4px 4px;
}

.cat_image h3{
font-size: 18px;
font-weight: bold;
  color: #889399;
  padding: 15px 0px 0px 15px;
margin:0px;
}
.cat_image p, .country_des p{
font-size: 14px;
font-weight: normal;
color: #6F797F;
padding: 0px 15px;
margin:7px 0px 15px 0px;
}

.cat_image span{
font-size: 12px;
font-weight: normal;
color: #6F797F;
padding: 0px 0px 0px 15px;
}
.cat_image span.new_offer32{
font-size: 16px;
font-weight: normal;
color: #ff5746;
font-weight:600;
padding: 0px 5px;
}
.cat_image span strong{
font-size: 24px;
}
.cat_image a.view_002, .country_des a.view_002{
font-size: 14px;
font-weight: 400;
color:#ff5746;
cursor:pointer;
padding-right:15px;

}

.cat_image a.view_002 i{
	font-size:16px;
	padding-left:5px;
}
/*change*/
.country_des a.view_002{
	padding-left:10px;
}

/*sidebar
.gurreante_area, .customize_area{
	border-bottom: 1px solid #D0D9DE;
	border-left:1px solid #D0D9DE;
	border-top:1px solid #D0D9DE;
	border-right:1px solid #D0D9DE;
	margin-top: 15px;
}
.g_text{
background:#3EADBA;
margin-bottom:20px;
}
.g_text h2{
	font-size: 18px;
font-weight: 400;
color: #2F373C;
position: relative;
text-align: center;
margin: 0px 0px 0px;
text-transform: capitalize;
padding: 10px 0px;
}
.gurreante_area .g_text p{
	font-size: 16px;
font-weight: 300;
color: #2F373C;
position: relative;
text-align: center;
margin: 0px 0px 0px;
text-transform: capitalize;
}
.gurreante_area h4{
	font-size: 16px;
font-weight: 600;
color: #2F373C;
position: relative;
text-align: left;
margin: 0px 0px 0px;
}
.gurreante_area p{
font-size: 14px;
font-weight: 300;
color: #889399;
position: relative;
text-align: left;
margin: 5px 0px 5px;
}
.sidebar_1{
	margin-bottom:15px;
	padding: 0px 5px;
}

.customize_area{
	margin-bottom:20px;
}
form.sidebar_form{
	padding: 10px;
}
.sidebar_form label, .checkin_area label{
font-size: 16px;
font-weight: 600;
color: #2F373C;
}
.sidebar_form button{
border: 1px solid #3EADBA;
text-align: center;
font-size: 16px;
color:#3EADBA;
background:#FFF;
text-transform:uppercase;
font-weight: 600;
}*/
	/* #####-----End of Customize Page-----#####*/
		
	/* #####-----Beginning of Hotel details Page-----#####*/
	.slider_area{
		margin-bottom:50px;
	}
	.carousel-inner > .hotel_item > img{
		width:100%;
		height:700px;
	}
	.more_img img{
		width:100%;
		padding:10px 0px;
	}
	/*.hotel_details h2{
font-size: 18px;
color: #2F373C;
font-weight: 600;
position: relative;
margin: 0px 0px 0px;
padding: 10px 0px;
border-bottom:1px solid #D0D9DE;
}*/
.hotel_carasol{
background-image:url(./img/photo-1.jpg);
	background-repeat:no-repeat;
	background-position:top left;
	background-size:100% 100%;
	margin-bottom:30px;
	width:100%;
	height:450px;
	
}
	.hotel_details p, .hotel_details ul li{
font-size: 15px;
font-weight: normal;
color: #6F797F;
}

.hotel_details ul li{
    width: 30%;
    margin-bottom: 30px;
}
.slider_arrow{
width:auto;
}
.hotel_details ul li:first-child{

}
.hotel_details ul li:last-child{

}
.hotel_details_img{
	position:relative;
	width:100%;
	height:450px;
	
}
 .hotel_name{
	left:0%;
	bottom: 10%;
	position:absolute;
}
 .hotel_details_img h2.room_price{
	right:0%;
	bottom: 14%;
	position:absolute;
	color:#fff;
	font-size:26px;
	color: #FFF;
	font-weight: 600;
}
 .hotel_details_img span{
	right:0%;
	bottom: 11%;
	position:absolute;
	color:#fff;
	font-size:18px;
	color: #FFF;
}
	.hotel_name h2{
	font-size:26px;
	color: #FFF;
	font-weight: 600;
	margin:0px;
	padding-bottom:15px;
	display:inline-block;
}
 .hotel_name ul{
	margin:0px;
}
 .hotel_name ul li a{
	font-size:20px;
	color: #FFF;
}
 .hotel_name ul.star{
	margin:0px;
	display:inline-block;
}
 .hotel_name ul.star li{
	font-size:24px;
	color:#EA6459;
}

.hotel_share ul li a, .tour_share ul li a{
font-size: 16px;
color: #2F373C;
}
.hotel_share ul li a span, .tour_share ul li a span{
color: #3EADBA;
padding-left:5px;
}
.hotel_share ul li i, .tour_share ul li i{
font-size: 18px;
}

.map_area{
background-image: url("./img/capture.jpg");
height: 450px;
margin-bottom: 30px;
margin-top: 30px;
}
.hotel_img_row{
margin-bottom:10px;
}
.hotel_off{
margin-bottom:15px !important;
background-image: url("./img/photo-1.jpg");
height:300px;
width:350px;
background-repeat:no-repeat;
background-position:center;
}
.calendar{
padding: 0px 4px;
font-size: 12px;
font-weight: 300;
line-height: 1;
color: #555;
text-align: center;
background-color: #fff;
border-right: none;
border-radius: 0px;
top: 0px;
color:#3EADBA;
border: 1px solid #CCC;
}

input.calendar_form, select.calendar_form{
height: 40px;
font-size: 13px;
color: #555;
background-color: #FFF;
background-image: none;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
padding: 2px;
border-radius: 0px;
border-right: 1px solid #CCC;
border-top: 1px solid #CCC;
border-right: 1px solid #CCC;
border-left: none;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075);
}

.room_type_area{
width:260px;
display:inline-block;
}
select.calendar_form{
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
width:350px;
}
.add_more{
color: #3EADBA;
margin-top: 37px;
font-size:16px;
}
.remove_more{
color: #EA6459;

margin-top: 10px;
font-size:16px;
}
.reservation_table .media-body{padding:0px}


.reservation_table tbody tr{
border-bottom:1px solid #D0D9DE;
border-top:1px solid #D0D9DE;
border-left:1px solid #D0D9DE;
}

.reservation_table tbody tr td{
	border-right:1px solid #D0D9DE;
	border-top: 0px solid #DDD;
}
.reservation_table tbody tr td.des{
	width:70%;
}
.reservation_table tbody tr td.des_1{
	width:7%;
	text-align: center;
}
.reservation_table tbody tr td.des_2{
	width:23%;
	text-align: center;
}
.reservation_table tbody tr td.des_2 p {
	margin-top:0px;
}
.reservation_table tbody tr td.des_2 p span{
	font-size:24px;
	color: #3EADBA;
	font-weight:600;
}
.reservation_table tbody tr td.des_1 span{
	color: #6F797F;

}
.reservation_table tbody tr td.des_1 span.into{
	font-size:16px;
}
.reservation_table tbody tr td h4{
	font-size:18px;
	color: #2F373C;
	font-weight: 600;
}
.reservation_table tbody tr td p{
	font-size:14px;
	color: #6F797F;
}
.reservation_table tbody tr td p span{
	font-weight: 600;
}
 .reservation_table ul li{
 font-size: 14px;
 color: #6F797F;
}
/*SIdebar*/
.checkin_form{
	margin-top:15px;
}
.checkin_area{
/*border:1px solid #D0D9DE;

-weblit-box-shadow:0px 0px 2px rgba(0,0,0,.5);
		-moz-box-shadow:0px 0px 2px rgba(0,0,0,.5);
		box-shadow:0px 0px 2px rgba(0,0,0,.5);
*/
	margin-bottom:30px;
		background:#F1F5F5;
}
.checkin_area form{
padding:10px;
}
.checkin_area label{
font-weight:600;
font-size:13px;
}
.checkin_area button{
border: 1px solid #3EADBA;
font-size: 16px;
color:#3EADBA;
background:#FFF;
text-transform:uppercase;
text-align: center;
border-radius:0px;
font-weight:600;
}
.carousel-control .glyphicon-menu-left, .carousel-control .glyphicon-menu-right{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
	}
	.carousel-control .glyphicon-menu-right {
    right: 0%;
}
	.carousel-control .glyphicon-menu-left {
    left: 0%;
}
  .carousel-control.left, .carousel-control.right {
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, transparent 100%);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0) 0px, transparent 100%);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, transparent 100%);
    background-repeat: repeat-x;
}
  [class^="icon-004"], [class^="icon-085"], [class^="icon-111"], [class^="icon-227"], [class^="icon-059"], [class^="icon-047"]   {
height: 20px;
width: 20px;
float: left;
fill: currentcolor;
margin-right: 10px;
  }
  
  	/* #####-----END of Hotel details Page-----#####*/
	
	
		/* #####-----Beginning of Tour details Page-----#####*/

	.tour_slider_area{
		margin-bottom:10px;
	}

	.carousel-inner > .tour_img_item > img{
		width:100%;
		height:400px;
	}
	.tour_carasol{
}

	
	.tour_details_img{
	background-image:url(https://unsplash.it/2400?image=625);
	background-repeat:no-repeat;
	background-position:top left;
	background-size:100% 100%;
	position:relative;
	width:100%;
	height:415px;
	margin-bottom:15px;
}
	.tour_details_img h2{
	color:#fff;
	font-size:26px;
	left:5%;
	top:3%;
	position:absolute;
	color: #FFF;
	font-weight: 600;
	
}
.tours_details h2{
	color:#2F373C;
	font-size:26px;
	font-weight: 600;
}
.tours_details p, .tour_offer_text p{
	color:#2F373C;
	font-size:16px;
	line-height:30px;
}
.tours_details ul, .itineray_details ul{
list-style:none;
padding-left:0px;

}

.tours_details ul li, .itineray_details ul li{
}

.tours_details ul li span.tour_code, .itineray_details ul li span.tour_code{
	color:#97A2A8;
	line-height:30px;
	margin-right:10px;
}

 .itineray_details ul li span.tour_code_1{
	vertical-align:top;
}

.itineray_details h2, .fees_area h2, .tour_review_area h2, .map_area h2, .tour_offer_text h2, .hotel_details h2, .reservation h2{
	text-align:center;
	color:#2F373C;
	font-size:24px;
	font-weight: 600;
	margin-bottom:30px;
}
.days_preview{
display:inline-block;
width:85%;
margin-bottom:10px;
}
.days_preview h4, .days_preview p{
margin: 5px 0px 0px 0px;
}
.days_preview p {
    font-size: 13px;
}
.days_preview h4, .include h3, .exclude h3{
color:#2F373C;
	font-size:18px;

}
.fees_area .include ul li{
	color:#2F373C;
	line-height:30px;
	  margin-right: 0px;
	padding-left: 0px;
}


.fees_area ul li{
	color:#2F373C;
	line-height:30px;
	margin-right:10px;
}

.tour_review_text{
margin-bottom:15px;
}

.tour_review_area ul{
text-align:center;
}
.tour_review_area ul li{
color:#EA6459;
font-size:24px;
margin:0px;
}
.tour_review_area h2{
margin:10px;
}

.tour_review_head h3{
display:inline-block;
margin-right:15px;
color:#2F373C;
	font-size:20px;
}
.tour_review_head span{
color:#B0B2B3;
}
.tour_review_head img{
display:inline-block;
margin-right:15px;
border-radius: 17px;
width: 34px;
height: 34px;
}
.tour_review_text p{
margin-top:5px;
color:#2F373C;
	font-size:16px;
}
.tour_review_area .tour_review_text  ul{
text-align:left;

}
.tour_offer_image{
width:100%;

background: #FFF none repeat scroll 0% 0%;
margin-bottom: 45px;
cursor: pointer;
width: 100%;
}
.tour_offer_image img{
width: 100%;
height: 250px;
border-radius: 4px 4px 0px 0px;
}
/*.tour_offer_image h3 {
    font-size: 18px;
    font-weight: bold;
    color: #889399;
    padding: 10px 0px 0px 5px;
    margin: 0px 0px 10px;
}*/
.tour_offer_image span {
    font-size: 12px;
    font-weight: normal;
    color: #6F797F;
    padding: 0px 0px 0px 5px;
}
.tour_offer_image span.new_offer32 {
    font-size: 16px;
    color: #FF5746;
    font-weight: 600;
    padding: 0px 5px;
}
.tour_offer_image a.view_002 {
    font-size: 14px;
    font-weight: 400;
    color: #FF5746;
    cursor: pointer;
    padding-right: 15px;
}
.tour_offer_text h2{
	text-align:center;
		margin-bottom:15px;
}
.tour_offer_text p{
	text-align:center;
	margin-top:10px;

}

/*.tour_carasol ul li a{
font-size: 16px;
color: #2F373C;
}
.tour_carasol ul li a span{
color: #3EADBA;
padding-left:5px;
}
.tour_carasol ul li i{
font-size: 18px;
}
.tour_offers, .more_tours{
	background:#f1f5f5;
}
.tour_offers, .tours_details{
	margin-bottom:30px;
}
.tour_offers h2{
font-size: 22px;
font-weight: 600;
color: #2F373C;
text-transform: capitalize;
padding: 0px 25px;
}
.tour_tab_table{
	width:100%;

}
.tour_tab_table tr  td.table_one{
	width:35%;
	padding: 10px 10px;
	color: #889399;
font-weight: 600;
}
.tour_tab_table tr  td.table_two{
	width:2%;
	padding: 10px 0px;
	color: #889399;
font-weight: 600;
}
.tour_tab_table tr  td.table_three{
	width:63%;
	padding: 10px 0px 10px 5px;
	color: #889399;
font-weight: 600;
}
.tour_tab_table tr  td.table_three span.name{
text-transform: capitalize;

}
.more_tours{
padding: 0px 25px;
}
.more_tours h2{
font-size: 22px;
font-weight: 600;
color: #2F373C;
text-transform: capitalize;
}
.more_tours h4{
font-size: 18px;
font-weight: 600;
color: #2F373C;
text-transform: capitalize;
padding: 0px 10px;
}
.more_tours h4 i{
font-size: 30px;
color: #3EADBA;
margin-right:10px;
vertical-align:middle;
}
.more_tours .tour_tab_table{
	width:100%;

}
.more_tours .tour_tab_table tr  td.table_one{
	width:18%;
	padding: 10px 10px;
	color: #889399;
font-weight: 600;
vertical-align:top;
}
.more_tours .tour_tab_table tr  td.table_two{
	width:2%;
	padding: 10px 0px;
	color: #889399;
font-weight: 600;
vertical-align:top;
}
.more_tours .tour_tab_table tr  td.table_three{
	width:80%;
	padding: 10px 0px 10px 5px;
	color: #889399;
font-weight: 600;
vertical-align:top;
}
.more_tours .tour_tab_table tr  td.table_three p{
margin:0
}
.more_tours .tour_tab_table tr  td.table_three p{
font-weight: 400;
}
*/


/*SIdebar*/
.book_tour_area{
border: 1px solid #E0E0E0;
margin-bottom: 10px;
padding: 20px 30px 20px;
background-color: #FAFAFA;
border-radius: 4px;
}
.price_area{
margin-bottom: 15px;
}
.book_tour_area p{

text-align:center;
margin:0px;
font-size:24px;
color: #2F373C;
font-weight: 600;
padding-top:0px;
padding-bottom:15px;
}
.book_tour_area h2{
margin:0px;
text-align:center;
	font-size: 40px;
font-weight: 600;
color: #3EADBA;
padding-bottom:20px;
line-height: 24px;
}
.book_tour_area h2 span{
margin-left:10px;
}
.customer_service_text{
	display:inline-block;
	vertical-align: middle;
}
.customer_service_text h3{
	font-size:16px;
color: #2F373C;
font-weight: 600;
margin:0px;

}
.customer_service_text p{
	font-size:20px;
	color: #889399;
	margin:0px;
	
}
.customer_service_area i.customer_service_icon{
font-size: 28px;
color: #fff;
display: inline-block;
margin-right: 15px;
vertical-align: middle;
border-radius: 48px;
background: #889399;
padding: 10px 13px 10px;
}
.select_time{
border-left: 0px solid #E0E0E0;
border-bottom: 1px solid #E0E0E0;
border-right: 1px solid #E0E0E0;
border-top: 1px solid #E0E0E0;
	  -webkit-appearance: none;
	    -moz-appearance: none;
		 appearance: none;
		 	height:45px;
			background-color: #fff;
			color: #889399;
			font-size: 15px;
			-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
			-moz-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
				box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
								background-image:url(./img/go_down_arrow.png);
		background-repeat:no-repeat;
		background-position: 98% 55%;
		position:relative;
		font-weight:400;
				padding:6px 0px ;
}
.book_tour_area label{

margin-bottom: 8px;
}
.book_tour_area p.total_am{
font-size:18px;
}

.book_tour_area p.total_am span{
font-size:20px;
color: #3EADBA;
}
.book_tour_area .form-group{
margin-bottom:25px;
}

.similar_package h2{
	font-size: 18px;
font-weight: 600;
color: #2F373C;
text-transform:uppercase;
  text-align: center;
}
.similar_package .country_des h4{
	font-size: 18px;
font-weight: 600;
color: #2F373C;
padding:0px 10px;
margin:0px;
}
.similar_package .country_des{
position:relative;
}
.similar_package .country_des span.booking{
    position: absolute;
    color: #FFF;
    padding: 5px;
    background-color: #3EADBA;
    top: 0;
    right: 0;
    font-weight: 600;
    font-size: 18px;
}
.book_btn{
border: 1px solid #ea6459;
text-align: center;
font-size: 18px;
color:#fff;
background:#ea6459;
text-transform:uppercase;
height:48px;
margin-bottom: 25px;
}

.book_btn_2{
text-align: center;
font-size: 20px;
height:48px;
border: 1px solid #E0E0E0;
background-color: #FAFAFA;
color: #6F797F;
}

.book_btn_2 i{
font-size: 16px;
margin-right:10px;
}

.tour_details_area label{
color: #2F373C;
font-weight: 600;
font-size: 16px;
}

.review_area img{
width: 25px;
height: 25px;
margin-right: 15px
}
.review_area div.rev{

	margin-bottom:10px;
}
.review_area div.rev span{

	font-size: 16px;
font-weight: 300;
color: #2F373C;
}

.rev_21{
text-align:center;
margin-bottom:15px;
}
.customer_service_area, .review_area{
margin-bottom:25px;
padding:0px 30px;

}

.customer_service_area span{
color: #2F373C;
margin-right: 10px;
font-size: 16px;
text-transform: capitalize;
vertical-align: middle;
}
.customer_service_area ul li a i{
color: #2F373C;
font-size: 16px !important;
vertical-align: middle ;
}
/*For NEw category2*/
.madal-size{
width:60%
}
.booking_modal{
padding:50px 15px 15px;
}
.booking_area{
-webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
-moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.05);
border:none;
}
.booking_area .booking_title{
background: #3EADBA;
border:none;

}
.booking_area .booking_title h4{
color: #fff;
font-size:24px;
font-weight: 400;
}

.booking_body{
border: 1px solid #3EADBA;
}
.booking_body label{
	color: #2F373C;
font-size: 16px ;
}
.booking_body label span{
	color: #EA6459;
font-size: 16px ;
margin-right:10px;
}
.book_btn.focus, .book_btn:focus, .book_btn:hover {
  color: #fff;
  }
.book_btn_2.focus, .book_btn_2:focus, .book_btn_2:hover {
color: #6F797F;
  }
  
  
  
  
  
  
  
 .header_bottom_area2{
background-color: transparent;
  border-bottom: 2px solid transparent;
  margin-bottom: 0px;
  border-radius: 0px;
  border-top: none;
}
.header_bottom_area2 .container a.main_logo{
	margin-left:0px;
	padding:5px 0px 0px 0px;
}
.header_bottom_area2 .container a.main_logo img{
	width:125px;
	height:50px;
}
.header_bottom_area2 ul li.travel_com {
margin-right:60px;
}

.header_bottom_area2 ul li a{
	  font-size: 13px;
  font-weight: 600;
  line-height: 45px; 
  color: #889399;
  text-transform: uppercase;
  padding: 10px 18px 0px;
	
}

.header_bottom_area2 .glyphicon-align-justify{
 font-size: 20px;
  font-weight: 600;
}